altgraph==0.17
#asgiref==3.2.10
#attr==0.3.1
#attrs==20.3.0
aws-shell==0.2.2
#awscli==1.20.8
#Babel==2.9.0
boto3==1.18.8
botocore==1.21.8
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cmdstanpy==0.9.5
colorama==0.4.3
configobj==5.0.6
convertdate==2.3.1
coremltools==4.1
cx-Freeze==6.5.3
cycler==0.10.0
Cython==0.29.22
distro==1.5.0
Django==3.1.1
#docutils==0.15.2
#ephem==3.7.7.1
#et-xmlfile==1.0.1
#future==0.18.2
#hijri-converter==2.1.1
#holidays==0.10.5.2
#idna==2.10
#importlib-metadata==3.7.2
#jdcal==1.4.1
#Jinja2==2.11.3
#jmespath==0.10.0
#jsonschema==3.2.0
#kiwisolver==1.3.1
#korean-lunar-calendar==0.2.1
#kraken==2.0.8
#logging==0.4.9.6
#LunarCalendar==0.0.9
#lxml==4.6.2
#MarkupSafe==1.1.1
matplotlib==3.3.4
mpld3==0.5.2
mpmath==1.2.1
mysql-connector==2.2.9
mysql-connector-python==8.0.23
mysqlclient==2.0.3
numpy==1.19.5
opencv-python==4.5.1.48
openpyxl==3.0.6
packaging==20.9
pandas==1.2.2
pandasql==0.7.3
pdf2image==1.15.1
pefile==2019.4.18
Pillow==8.1.0
plotly==4.14.3
#prompt-toolkit==1.0.18
#protobuf==3.14.0
#pyasn1==0.4.8
#Pygments==2.9.0
#pyinstaller==4.2
#pyinstaller-hooks-contrib==2021.1
#PyMeeus==0.5.6
PyMuPDF==1.17.7
PyMySQL==1.0.2
PyMysqlDB==0.0.2
pyparsing==2.4.7
#pyrsistent==0.17.3
pystan==2.19.1.1
#pytesseract==0.3.7
python-bidi==0.4.2
python-dateutil==2.8.1
#pytz==2021.1
#pywin32-ctypes==0.2.0
#PyYAML==5.4.1
pyzbar==0.1.8
regex==2020.11.13
requests==2.25.1
#retrying==1.3.3
#rsa==4.7.2
s3transfer==0.5.0
schedule==1.1.0
scipy==1.6.0
setuptools-git==1.2
#six==1.15.0
#SQLAlchemy==1.3.23
#sqlparse==0.4.1
#squarify==0.4.3
#sympy==1.7.1
tabula-py==2.2.0
#textract-trp==0.1.3
#tika==1.24
#torch==1.7.1
#torchvision==0.2.2.post3
#tqdm==4.56.1
typing-extensions==3.7.4.3
urllib3==1.26.3
#watchdog==2.0.2
#wcwidth==0.2.5
#xlrd==2.0.1
#zipp==3.4.1
